In [1]:
import yfinance as yf
import pandas as pd
import sqlalchemy
import datetime as dt
from pandas.tseries.offsets import MonthEnd

In [2]:
wiki = 'https://en.wikipedia.org/wiki/'
tickersSensex = pd.read_html(wiki+'BSE_SENSEX')[1].Symbol.to_list()

In [3]:
tickersSensex

['ASIANPAINT.BO',
 'AXISBANK.BO',
 'BAJAJ-AUTO.BO',
 'BAJFINANCE.BO',
 'BAJAJFINSV.BO',
 'BHARTIARTL.BO',
 'DRREDDY.BO',
 'HCLTECH.BO',
 'HDFC.BO',
 'HDFCBANK.BO',
 'HINDUNILVR.BO',
 'ICICIBANK.BO',
 'INDUSINDBK.BO',
 'INFY.BO',
 'ITC.BO',
 'KOTAKBANK.BO',
 'LT.BO',
 'M&M.BO',
 'MARUTI.BO',
 'NESTLEIND.BO',
 'NTPC.BO',
 'ONGC.BO',
 'POWERGRID.BO',
 'RELIANCE.BO',
 'SBIN.BO',
 'SUNPHARMA.BO',
 'TCS.BO',
 'TECHM.BO',
 'TITAN.BO',
 'ULTRACEMCO.BO']

In [4]:
data = []
for ticker in tickersSensex:
    data.append(yf.download(ticker).reset_index())

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
engine = sqlalchemy.create_engine('sqlite:///India.db')

In [6]:
#data

In [7]:
for frame, symbol in zip(data, tickersSensex):
    frame.to_sql(symbol, engine, index = False)

In [8]:
df = pd.DataFrame()

In [9]:
for name in tickersSensex:
    df = df.append(pd.read_sql(\
        f'SELECT Date, "Adj Close" AS "{name}" FROM "{name}" WHERE Date > "2010-01-10"',engine))

In [10]:
df

,Date,ASIANPAINT.BO,AXISBANK.BO,BAJAJ-AUTO.BO,BAJFINANCE.BO,BAJAJFINSV.BO,BHARTIARTL.BO,DRREDDY.BO,HCLTECH.BO,HDFC.BO,...,NTPC.BO,ONGC.BO,POWERGRID.BO,RELIANCE.BO,SBIN.BO,SUNPHARMA.BO,TCS.BO,TECHM.BO,TITAN.BO,ULTRACEMCO.BO
0,2010-01-11 00:00:00.000000,162.205582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-12 00:00:00.000000,166.202087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-13 00:00:00.000000,167.844803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-14 00:00:00.000000,169.267044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-15 00:00:00.000000,168.587463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3104,2022-08-05 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6780.600098
3105,2022-08-08 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6669.850098
3106,2022-08-10 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6591.600098
3107,2022-08-11 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6595.350098
3108,2022-08-12 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6569.000000

In [11]:
df = df.groupby("Date").sum()

In [12]:
df.index = pd.to_datetime(df.index)

In [13]:
df

,ASIANPAINT.BO,AXISBANK.BO,BAJAJ-AUTO.BO,BAJFINANCE.BO,BAJAJFINSV.BO,BHARTIARTL.BO,DRREDDY.BO,HCLTECH.BO,HDFC.BO,HDFCBANK.BO,...,NTPC.BO,ONGC.BO,POWERGRID.BO,RELIANCE.BO,SBIN.BO,SUNPHARMA.BO,TCS.BO,TECHM.BO,TITAN.BO,ULTRACEMCO.BO
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-11,162.205582,191.886169,593.464050,32.158241,339.012634,285.099182,1084.238525,70.305367,434.560516,155.870453,...,118.912666,126.213356,85.172394,492.007050,197.468521,145.645737,281.674561,210.099487,69.028152,941.240967
2010-01-12,166.202087,191.521057,603.974243,30.890184,331.852142,279.205627,1091.515991,72.889107,428.345184,155.108002,...,117.203743,123.767792,83.984299,492.985107,191.869003,145.692017,295.418152,211.456177,68.522331,932.318054
2010-01-13,167.844803,189.759369,609.007080,29.286083,327.739655,276.258881,1112.037354,74.829376,425.964386,154.404877,...,117.178238,124.131248,85.209534,495.100433,189.657059,143.469193,310.857391,220.062286,68.204445,980.160889
2010-01-14,169.267044,193.885162,606.054993,30.164305,327.933136,276.388916,1118.003784,73.255363,421.754028,153.907257,...,117.866882,127.776245,86.954567,509.884949,187.845688,144.177719,308.471558,218.513168,70.420319,989.748291
2010-01-15,168.587463,196.833435,613.915405,30.307693,332.045624,274.872192,1115.517822,73.146492,421.177612,154.409470,...,118.606598,125.984863,87.845642,504.585297,186.709244,141.288025,312.257507,230.217377,70.329819,984.147705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-05,3473.449951,728.250000,4014.949951,7303.200195,15088.950195,703.599976,4156.000000,958.049988,2353.750000,1426.550049,...,152.962173,136.250000,223.500000,2533.949951,530.650024,915.200012,3365.250000,1058.449951,2432.550049,6780.600098
2022-08-08,3456.500000,745.750000,4021.399902,7343.450195,15534.200195,704.349976,4220.350098,966.099976,2394.300049,1460.949951,...,156.199997,136.449997,221.699997,2566.800049,520.299988,910.500000,3373.949951,1056.849976,2446.699951,6669.850098
2022-08-10,3412.449951,738.849976,4034.449951,7147.750000,15643.250000,714.950012,4242.399902,952.500000,2397.899902,1466.000000,...,155.699997,133.850006,223.350006,2581.949951,514.500000,919.349976,3356.000000,1054.800049,2431.850098,6591.600098
2022-08-11,3404.899902,759.200012,4030.000000,7316.250000,15729.299805,709.549988,4257.149902,962.049988,2453.600098,1486.750000,...,153.550003,132.699997,222.800003,2590.199951,524.549988,919.150024,3422.449951,1077.150024,2464.000000,6595.350098
2022-08-12,3426.000000,760.450012,4036.300049,7308.799805,15770.349609,709.849976,4262.250000,956.049988,2456.699951,1484.750000,...,158.550003,139.250000,227.800003,2632.649902,530.650024,913.400024,3399.800049,1066.199951,2471.949951,6569.000000

In [14]:
# get this data frame and take the last price in a particular month
# month and price are enough
mtlprices = df.resample('M').last()

In [15]:
mtlprices

,ASIANPAINT.BO,AXISBANK.BO,BAJAJ-AUTO.BO,BAJFINANCE.BO,BAJAJFINSV.BO,BHARTIARTL.BO,DRREDDY.BO,HCLTECH.BO,HDFC.BO,HDFCBANK.BO,...,NTPC.BO,ONGC.BO,POWERGRID.BO,RELIANCE.BO,SBIN.BO,SUNPHARMA.BO,TCS.BO,TECHM.BO,TITAN.BO,ULTRACEMCO.BO
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-31,166.805222,187.212692,630.650024,27.726789,311.386505,265.641846,1017.250610,68.791939,398.045715,148.917007,...,109.296623,114.208832,83.687263,476.085297,179.219971,136.096817,290.804688,196.512054,69.552536,882.244385
2010-02-28,162.880676,205.349762,646.406494,26.924738,334.948578,242.024475,1033.025635,72.961754,417.693970,155.655869,...,103.557579,116.000198,79.528885,444.901245,172.953506,142.714340,300.907379,180.919830,81.160866,985.429077
2010-03-31,183.857941,213.427948,715.300964,28.542284,323.627167,270.322021,1154.255249,71.045647,453.256531,176.461441,...,107.173828,114.073845,79.566025,488.868195,181.982590,165.748367,308.736511,172.830139,85.427841,1097.631714
2010-04-30,186.769806,231.519379,744.893311,38.341644,332.916504,258.621643,1141.056152,78.485474,471.476288,181.857986,...,107.147942,109.567001,81.459557,469.693726,201.148071,145.113144,302.884338,156.650726,98.818138,923.015137
2010-05-31,187.822937,226.509094,787.716675,40.944962,426.874329,227.333954,1268.432861,76.156296,465.762299,172.160599,...,104.585083,121.208046,76.781403,478.613007,198.557114,153.828430,293.394623,128.858154,103.256821,876.074158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-30,3220.742188,727.592651,3592.118408,6647.983887,14903.084961,736.426514,4079.565918,1066.965698,2199.901367,1368.828613,...,150.705536,160.500000,227.600006,2790.800049,488.875610,928.700012,3517.062256,1238.535889,2450.532715,6591.169434
2022-05-31,2843.714600,684.358459,3723.098389,6056.787109,12909.352539,697.997314,4310.768555,1028.744995,2307.199951,1387.449951,...,153.207458,151.399994,233.000000,2633.899902,467.799988,860.450012,3355.940918,1163.921021,2209.784424,6048.384766
2022-06-30,2697.500000,635.732483,3705.649902,5400.450195,10929.299805,680.873474,4340.809082,962.241943,2163.550049,1347.500000,...,140.452438,151.449997,211.850006,2594.050049,465.799988,830.799988,3256.653076,985.368103,1935.603882,5567.992188
2022-07-31,3332.350098,724.799988,3913.399902,7208.899902,15039.299805,674.900024,4090.350098,948.750000,2379.100098,1434.449951,...,150.067764,134.149994,214.000000,2508.750000,528.200012,943.549988,3300.800049,1048.900024,2353.050049,6508.543457
2022-08-31,3426.000000,760.450012,4036.300049,7308.799805,15770.349609,709.849976,4262.250000,956.049988,2456.699951,1484.750000,...,158.550003,139.250000,227.800003,2632.649902,530.650024,913.400024,3399.800049,1066.199951,2471.949951,6569.000000

In [16]:
formation = dt.datetime(2011, 2, 28) 
# this is the date where i am forming my portfolio

In [17]:
begin_measurement = formation - MonthEnd(12)

In [18]:
end_measurement = formation - MonthEnd(1)
#only subtract one month due to short term reversal effect

In [19]:
#check price at begin and end
price_end = mtlprices.loc[end_measurement]

In [20]:
price_12mbefore = mtlprices.loc[begin_measurement]

In [21]:
ret_12 = price_end/price_12mbefore - 1
#returns of past 12 months skipping the most recent month

In [22]:
ret_12

ASIANPAINT.BO    0.435658
AXISBANK.BO      0.119518
BAJAJ-AUTO.BO    0.397310
BAJFINANCE.BO    0.989615
BAJAJFINSV.BO    0.186513
BHARTIARTL.BO    0.144289
DRREDDY.BO       0.432783
HCLTECH.BO       0.360783
HDFC.BO          0.275008
HDFCBANK.BO      0.206089
HINDUNILVR.BO    0.177438
ICICIBANK.BO     0.187153
INDUSINDBK.BO    0.511991
INFY.BO          0.217067
ITC.BO           0.431618
KOTAKBANK.BO     0.037429
LT.BO            0.054796
M&M.BO           0.415418
MARUTI.BO       -0.139849
NESTLEIND.BO     0.287969
NTPC.BO         -0.051773
ONGC.BO          0.092284
POWERGRID.BO    -0.092672
RELIANCE.BO     -0.053725
SBIN.BO          0.348471
SUNPHARMA.BO     0.440966
TCS.BO           0.549457
TECHM.BO        -0.269558
TITAN.BO         1.066897
ULTRACEMCO.BO   -0.031601
dtype: float64

In [23]:
winners = ret_12.nlargest(3)

In [24]:
winners

TITAN.BO         1.066897
BAJFINANCE.BO    0.989615
TCS.BO           0.549457
dtype: float64

In [25]:
#now we will se if we hold portfolio for one month how our winners are performing 
winnerret = mtlprices.loc[formation+MonthEnd(1), winners.index] / mtlprices.loc[formation, winners.index] - 1

#one month after the formation period but only for winner stocks 
#we are calculating winner return so subtract one for that

In [26]:
winnerret

TITAN.BO         0.144881
BAJFINANCE.BO    0.143477
TCS.BO           0.062492
dtype: float64

In [27]:
Momentumprofit = winnerret.mean()

In [28]:
Momentumprofit

0.11694978120083406

In [29]:
def momentumprofit(formation, holdingperiod = 1):
    begin_measurement = formation - MonthEnd(12)
    end_measurement = formation - MonthEnd(1)
    price_end = mtlprices.loc[end_measurement]
    price_12mbefore = mtlprices.loc[begin_measurement]
    ret_12 = price_end/price_12mbefore - 1
    winners = ret_12.nlargest(3)
    winnerret = mtlprices.loc[formation+MonthEnd(holdingperiod), winners.index] / mtlprices.loc[formation, winners.index] - 1
    #change the above MonthEnd(holdingperiod)
    Momentumprofit = winnerret.mean()
    return Momentumprofit

In [30]:
formation

datetime.datetime(2011, 2, 28, 0, 0)

In [31]:
momentumprofit(formation)

0.11694978120083406

In [32]:
mtlprices.index

DatetimeIndex(['2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30',
               '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31',
               '2010-09-30', '2010-10-31',
               ...
               '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28',
               '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30',
               '2022-07-31', '2022-08-31'],
              dtype='datetime64[ns]', name='Date', length=152, freq='M')

In [33]:
profits, dates, holding = [], [], [] #3 empty list

In [34]:
#now populate them using nested loops
for i in (1,3,6): #i is the holding period
    for j in mtlprices.index[12:-i]: #we are always going 12 month back
        #populating the profits
        profits.append(momentumprofit(j, holdingperiod=i))
        dates.append(j + MonthEnd(i))
        holding.append(i)

In [35]:
frame = pd.DataFrame({'Momentumprofit': profits, 'holdingperiod': holding}, index = dates)

In [36]:
frame.groupby('holdingperiod').mean()

               Momentumprofit
holdingperiod
1                    0.019140
3                    0.059605
6                    0.130776